<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    
    <property resource="application.properties" />    
    
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    
    <logger name="org.springframework" level="info"/>
    <logger name="com.breitling.jasj" level="debug"/>
     
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>